footer {
    .footer_container {
        @include container();
        background-color: $color_1;
        box-shadow: 0px -4px 2px #333;
        padding-top: 15px;
        padding-bottom: 15px;
        position: relative;
        display: flex;
        justify-content: space-around;

        @media (max-width:650px) {
            flex-wrap: wrap;
        }

        .footer_logo {
            height: 100%;

            @media (max-width:650px) {
                width: 50%;
                text-align: center;
            }

            @media (max-width:460px) {
                width: 100%;
            }

            img {
                height: 100%;
            }
        }

        .footer_main {
            color: #000;
            font-size: $text_size_3;

            a {
                text-decoration: none;
                color: #000;
            }

            @media (max-width:650px) {
                width: 50%;
                text-align: center;
            }

            @media (max-width:460px) {
                width: 100%;
            }
        }
    }
}