#section_1 {
    position: relative;

    .img_log {
        position: absolute;
        z-index: 10;
        top: 25%;
        left: calc(50% - 96.5px);
        @media (max-width:768px) {
            top: 23%;
            left: calc(50% - 77.5px);
        }
        @media (max-width:576px) {
            top: 23%;
            left: calc(50% - 58px);
        }
        img {
            height: 250px;
            animation: swiper_in_logo 11s ease-in-out alternate-reverse infinite;

            @keyframes swiper_in_logo {
                from {
                    transform: rotate3d(0, 1, 0, 0deg);
                }

                to {
                    transform: rotate3d(0, 1, 0, 360deg);
                }
            }

            @media (max-width:768px) {
                height: 200px;
            }

            @media (max-width:576px) {
                height: 150px;
            }
        }
    }

    .section_1_container {
        @include container();

        // 輪播
        .section_1_swiper {

            // position: relative;
            .swiper-container {
                width: 100%;
                @include boxShadow();
            }

            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;

                .Slide_bg {
                    width: 100%;
                    height: 80vh;
                    background-size: cover;
                    background-position: center;

                    @media (max-width:576px) {
                        height: 100vh;
                    }
                }

            }

            // img{
            //     height: 250px;
            //     position: absolute;
            //     z-index: 10;
            //     top: 25%;
            //     left: calc(50% - 96.5px);
            //     animation: swiper_in_logo 11s ease-in-out alternate-reverse infinite;

            //     @keyframes swiper_in_logo {
            //         from{
            //             transform: rotate3d(0, 1, 0, 0deg);
            //         }
            //         to{
            //             transform: rotate3d(0, 1, 0, 360deg);
            //         }
            //     }

            //     @media (max-width:768px) {
            //         top: 30%;
            //         left: calc(50% - 77.5px);
            //         height: 200px;
            //     }
            //     @media (max-width:576px) {
            //         top: 35%;
            //         left: calc(50% - 58px);
            //         height: 150px;
            //     }
            // }
        }

        // 最新消息
        .section_1_news {
            display: flex;
            background-color: $color_1;
            width: 100%;
            padding: 15px 10%;
            background: url('../images/section_1/section_1.jpg') 50% center / cover no-repeat fixed;

            @media (max-width: 960px) {
                background-attachment: scroll;
            }

            @media (max-width: 768px) {
                padding: 15px;
            }

            @media (max-width: 576px) {
                padding: 15px 5px;
            }

            .news_titile {
                margin-right: 15px;

                p {
                    font-size: $text_size_2;
                    margin: 15px 0;
                    color: #fff;
                }
            }

            .news_main {
                padding-bottom: 30px;

                .tab_btns {
                    display: flex;

                    .tab_btn {
                        padding: 10px 20px;
                        text-align: center;
                        border-radius: 10px 10px 0 0;
                        background-color: $color_1;
                        color: #666;
                        margin-right: 6px;
                        cursor: pointer;

                        &.active {
                            border-bottom: none;
                            color: #000;
                            font-weight: bold;
                            box-shadow: 1px -1px 1px #000;
                            background-color: $color_3;
                        }
                    }
                }

                .tab_contents {
                    .tab_content {
                        display: none;
                        padding: 10px 30px;
                        border-radius: 0 10px 10px 10px;
                        box-shadow: 5px 5px 4px #000;
                        // 假高
                        // height: 50vh;

                        h2 {
                            margin: 0;
                            padding: 0 10px;

                            @media (max-width: 768px) {
                                padding: 0;
                            }
                        }

                        P {
                            font-size: $text_size_4;
                            background: linear-gradient(#000, #bbb);
                            padding: 0 10px;
                            -webkit-background-clip: text;
                            color: transparent;

                            @media (max-width: 768px) {
                                padding: 0;
                            }
                        }

                        &.active {
                            display: block;
                            background: linear-gradient($color_3, $color_2, $color_1);
                        }
                    }
                }
            }
        }
    }
}