@import "import/_var.scss";
* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth
}
body {
    margin: 0;
    font-family: 'ZCOOL KuaiLe', cursive,'Lato', sans-serif;
    background: linear-gradient(181deg, rgba(89, 236, 182, 1)0%, rgba(200, 253, 233, 0.7)66%);
    background: -moz-linear-gradient(181deg, rgba(89, 236, 182, 1)0%, rgba(200, 253, 233, 0.7)66%);
    background: -webkit-linear-gradient(181deg, rgba(89, 236, 182, 1)0%, rgba(200, 253, 233, 0.7)66%);
    background: -o-linear-gradient(181deg, rgba(89, 236, 182, 1)0%, rgba(200, 253, 233, 0.7)66%);
}

@import "import/_navbar.scss";

@import "import/_section_1.scss";

@import "import/_section_2.scss";

@import "import/_section_3.scss";

@import "import/_section_4.scss";

@import "import/_footer.scss";



