@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'ZCOOL KuaiLe', cursive,'Lato', sans-serif;
  background: linear-gradient(181deg, #59ecb6 0%, rgba(200, 253, 233, 0.7) 66%);
  background: -o-linear-gradient(181deg, #59ecb6 0%, rgba(200, 253, 233, 0.7) 66%);
}

nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 2px 5px 8px 2px #242424;
          box-shadow: 2px 5px 8px 2px #242424;
  position: fixed;
  z-index: 99;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: all 500ms ease 500ms;
  transition: all 500ms ease 500ms;
  opacity: 0;
  pointer-events: none;
}

nav.nav_block {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  pointer-events: visible;
}

nav .nav_container {
  width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1440px) {
  nav .nav_container {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  nav .nav_container {
    width: 100%;
  }
}

@media (max-width: 992px) {
  nav .nav_container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  nav .nav_container {
    width: 100%;
  }
}

@media (max-width: 572px) {
  nav .nav_container {
    width: 100%;
  }
}

nav .nav_container .log {
  padding-left: 10px;
  margin-right: 10px;
  padding-top: 3px;
}

nav .nav_container .log img {
  height: 45px;
}

nav .nav_container .menuAll {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  nav .nav_container .menuAll {
    display: none;
  }
}

nav .nav_container .menuAll a {
  text-decoration: none;
  color: #fff;
  padding: 20px 60px;
}

@media screen and (max-width: 1260px) {
  nav .nav_container .menuAll a {
    padding: 20px 30px;
  }
}

@media screen and (max-width: 992px) {
  nav .nav_container .menuAll a {
    padding: 20px 10px;
  }
}

nav .nav_container .menuAll .menu:nth-child(1),
nav .nav_container .menuAll .menu:nth-child(2) {
  position: relative;
}

nav .nav_container .menuAll .menu:nth-child(1):hover ul,
nav .nav_container .menuAll .menu:nth-child(2):hover ul {
  display: block;
}

nav .nav_container .menuAll .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

nav .nav_container .menuAll .menu ul {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: -2px 3px 4px #fff;
          box-shadow: -2px 3px 4px #fff;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 34px;
  display: none;
}

nav .nav_container .menuAll .menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

nav .nav_container .menuAll .menu ul li a {
  display: inline-block;
  color: #fff;
}

nav .nav_container .menuAll .menu ul li a:hover {
  color: #000;
}

nav .nav_container .menuAll .menu ul li:hover {
  background-color: #fff;
}

nav .nav_container .menuAll .menu ul li:last-child {
  border-radius: 0 0 5px 5px;
}

nav .nav_container .menu_rwd {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

@media screen and (max-width: 768px) {
  nav .nav_container .menu_rwd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

nav .nav_container .menu_rwd .navbar_burger {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.8);
          box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

nav .nav_container .menu_rwd .navbar_burger .burger_line {
  width: 70%;
  height: 3px;
  border-radius: 2px;
  background-color: white;
  position: absolute;
  right: 15%;
  top: 30%;
}

nav .nav_container .menu_rwd .navbar_burger .burger_line.burger_2 {
  top: 50%;
}

nav .nav_container .menu_rwd .navbar_burger .burger_line.burger_3 {
  top: 70%;
}

nav .nav_container .menu_rwd .navbar_burger .burger_line.navbar_burger_1a {
  -webkit-animation-name: navbar_burger_1a;
          animation-name: navbar_burger_1a;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes navbar_burger_1a {
  0% {
    top: 30%;
  }
  30% {
    top: 50%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes navbar_burger_1a {
  0% {
    top: 30%;
  }
  30% {
    top: 50%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

nav .nav_container .menu_rwd .navbar_burger .burger_line.navbar_burger_2a {
  -webkit-animation-name: navbar_burger_2a;
          animation-name: navbar_burger_2a;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes navbar_burger_2a {
  0% {
    top: 50%;
  }
  50% {
    top: 50%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 0;
  }
}

@keyframes navbar_burger_2a {
  0% {
    top: 50%;
  }
  50% {
    top: 50%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 0;
  }
}

nav .nav_container .menu_rwd .navbar_burger .burger_line.navbar_burger_3a {
  -webkit-animation-name: navbar_burger_3a;
          animation-name: navbar_burger_3a;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes navbar_burger_3a {
  0% {
    top: 65%;
  }
  30% {
    top: 50%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes navbar_burger_3a {
  0% {
    top: 65%;
  }
  30% {
    top: 50%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

nav .nav_container .menu_rwd .navbar_burger_menu {
  width: 100%;
  position: absolute;
  top: 49.5px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 500ms ease 500ms;
  transition: all 500ms ease 500ms;
  opacity: 0;
  pointer-events: none;
}

nav .nav_container .menu_rwd .navbar_burger_menu.burger_menu_2 {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  pointer-events: visible;
}

nav .nav_container .menu_rwd .navbar_burger_menu ul {
  list-style-type: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

nav .nav_container .menu_rwd .navbar_burger_menu ul li {
  width: 100%;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

nav .nav_container .menu_rwd .navbar_burger_menu ul li a {
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 15px 0px;
  text-align: center;
}

nav .nav_container .menu_rwd .navbar_burger_menu ul li a:hover {
  background: #fff;
  color: #000;
}

nav .nav_container .log_2 {
  padding-right: 10px;
  margin-left: 10px;
  padding-top: 3px;
}

nav .nav_container .log_2 img {
  height: 45px;
}

#section_1 {
  position: relative;
}

#section_1 .img_log {
  position: absolute;
  z-index: 10;
  top: 25%;
  left: calc(50% - 96.5px);
}

@media (max-width: 768px) {
  #section_1 .img_log {
    top: 23%;
    left: calc(50% - 77.5px);
  }
}

@media (max-width: 576px) {
  #section_1 .img_log {
    top: 23%;
    left: calc(50% - 58px);
  }
}

#section_1 .img_log img {
  height: 250px;
  -webkit-animation: swiper_in_logo 10s infinite;
          animation: swiper_in_logo 10s infinite;
}

@-webkit-keyframes swiper_in_logo {
  from {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
            transform: rotate3d(0, 1, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
            transform: rotate3d(0, 1, 0, 360deg);
  }
}

@keyframes swiper_in_logo {
  from {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
            transform: rotate3d(0, 1, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
            transform: rotate3d(0, 1, 0, 360deg);
  }
}

@media (max-width: 768px) {
  #section_1 .img_log img {
    height: 200px;
  }
}

@media (max-width: 576px) {
  #section_1 .img_log img {
    height: 150px;
  }
}

#section_1 .section_1_container {
  width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  #section_1 .section_1_container {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  #section_1 .section_1_container {
    width: 100%;
  }
}

@media (max-width: 992px) {
  #section_1 .section_1_container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #section_1 .section_1_container {
    width: 100%;
  }
}

@media (max-width: 572px) {
  #section_1 .section_1_container {
    width: 100%;
  }
}

#section_1 .section_1_container .section_1_swiper .swiper-container {
  width: 100%;
  -webkit-box-shadow: 2px 5px 8px 2px #242424;
          box-shadow: 2px 5px 8px 2px #242424;
}

#section_1 .section_1_container .section_1_swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section_1 .section_1_container .section_1_swiper .swiper-slide .Slide_bg {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
}

@media (max-width: 576px) {
  #section_1 .section_1_container .section_1_swiper .swiper-slide .Slide_bg {
    height: 100vh;
  }
}

#section_1 .section_1_container .section_1_news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFBDDC;
  width: 100%;
  padding: 15px 10%;
  background: url("../images/section_1/section_1.jpg") 50% center/cover no-repeat fixed;
}

@media (max-width: 960px) {
  #section_1 .section_1_container .section_1_news {
    background-attachment: scroll;
  }
}

@media (max-width: 768px) {
  #section_1 .section_1_container .section_1_news {
    padding: 15px;
  }
}

@media (max-width: 576px) {
  #section_1 .section_1_container .section_1_news {
    padding: 15px 5px;
  }
}

#section_1 .section_1_container .section_1_news .news_titile {
  margin-right: 15px;
}

#section_1 .section_1_container .section_1_news .news_titile p {
  font-size: 36px;
  margin: 15px 0;
  color: #fff;
}

#section_1 .section_1_container .section_1_news .news_main {
  padding-bottom: 30px;
}

#section_1 .section_1_container .section_1_news .news_main .tab_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section_1 .section_1_container .section_1_news .news_main .tab_btns .tab_btn {
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-color: #FFBDDC;
  color: #666;
  margin-right: 6px;
  cursor: pointer;
}

#section_1 .section_1_container .section_1_news .news_main .tab_btns .tab_btn.active {
  border-bottom: none;
  color: #000;
  font-weight: bold;
  -webkit-box-shadow: 1px -1px 1px #000;
          box-shadow: 1px -1px 1px #000;
  background-color: #FF1A8D;
}

#section_1 .section_1_container .section_1_news .news_main .tab_contents .tab_content {
  display: none;
  padding: 10px 30px;
  border-radius: 0 10px 10px 10px;
  -webkit-box-shadow: 5px 5px 4px #000;
          box-shadow: 5px 5px 4px #000;
}

#section_1 .section_1_container .section_1_news .news_main .tab_contents .tab_content h2 {
  margin: 0;
  padding: 0 10px;
}

@media (max-width: 768px) {
  #section_1 .section_1_container .section_1_news .news_main .tab_contents .tab_content h2 {
    padding: 0;
  }
}

#section_1 .section_1_container .section_1_news .news_main .tab_contents .tab_content P {
  font-size: 18px;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#bbb));
  background: linear-gradient(#000, #bbb);
  padding: 0 10px;
  -webkit-background-clip: text;
  color: transparent;
}

@media (max-width: 768px) {
  #section_1 .section_1_container .section_1_news .news_main .tab_contents .tab_content P {
    padding: 0;
  }
}

#section_1 .section_1_container .section_1_news .news_main .tab_contents .tab_content.active {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF1A8D), color-stop(#FF78BC), to(#FFBDDC));
  background: linear-gradient(#FF1A8D, #FF78BC, #FFBDDC);
}

#section_2 {
  position: relative;
  z-index: 1;
}

#section_2 .section_2_container {
  width: 1440px;
  margin: 0 auto;
  -webkit-box-shadow: 2px 5px 8px 2px #242424;
          box-shadow: 2px 5px 8px 2px #242424;
  background-color: #FFBDDC;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (max-width: 1440px) {
  #section_2 .section_2_container {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  #section_2 .section_2_container {
    width: 100%;
  }
}

@media (max-width: 992px) {
  #section_2 .section_2_container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #section_2 .section_2_container {
    width: 100%;
  }
}

@media (max-width: 572px) {
  #section_2 .section_2_container {
    width: 100%;
  }
}

#section_2 .section_2_container .wrapper {
  height: 70vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@media (max-width: 1024px) {
  #section_2 .section_2_container .wrapper {
    height: 60vh;
  }
}

@media (max-width: 768px) {
  #section_2 .section_2_container .wrapper {
    height: 50vh;
  }
}

#section_2 .section_2_container .wrapper h2 {
  color: #000;
  font-size: 36px;
}

#section_2 .section_2_container .wrapper .one_img,
#section_2 .section_2_container .wrapper .two_img,
#section_2 .section_2_container .wrapper .three_img,
#section_2 .section_2_container .wrapper .four_img {
  width: 100%;
  height: 100%;
  padding: 5px 10px 10px 66px;
  overflow: hidden;
}

#section_2 .section_2_container .wrapper .one_img img,
#section_2 .section_2_container .wrapper .two_img img,
#section_2 .section_2_container .wrapper .three_img img,
#section_2 .section_2_container .wrapper .four_img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-box-shadow: -2px 2px 3px #000;
          box-shadow: -2px 2px 3px #000;
}

#section_2 .section_2_container .wrapper .one .one_img .myone_main {
  height: 100%;
  margin-bottom: 16px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fading 10s infinite;
          animation: fading 10s infinite;
}

@media (max-width: 576px) {
  #section_2 .section_2_container .wrapper .one .one_img .myone_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 20px;
    padding-right: 50px;
  }
}

@-webkit-keyframes fading {
  0% {
    opacity: 0;
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
  50% {
    opacity: 1;
    -webkit-box-shadow: -2px 2px 3px #000;
            box-shadow: -2px 2px 3px #000;
  }
  100% {
    opacity: 0;
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
}

@keyframes fading {
  0% {
    opacity: 0;
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
  50% {
    opacity: 1;
    -webkit-box-shadow: -2px 2px 3px #000;
            box-shadow: -2px 2px 3px #000;
  }
  100% {
    opacity: 0;
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
}

#section_2 .section_2_container .wrapper .one .one_img .myone_main .main_img {
  padding-left: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section_2 .section_2_container .wrapper .one .one_img .myone_main .main_img img {
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 60%;
}

@media (max-width: 576px) {
  #section_2 .section_2_container .wrapper .one .one_img .myone_main .main_img img {
    height: 80%;
  }
}

#section_2 .section_2_container .wrapper .one .one_img .myone_main .img_main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
}

#section_2 .section_2_container .wrapper .three .three_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#section_2 .section_2_container .wrapper .three .three_img a {
  width: 30%;
  height: 50%;
  display: inline-block;
  padding: 5px;
}

@media (max-width: 576px) {
  #section_2 .section_2_container .wrapper .three .three_img a {
    padding: 20px;
    padding-left: 5px;
  }
}

@media (max-width: 360px) {
  #section_2 .section_2_container .wrapper .three .three_img a {
    padding: 10px;
    padding-left: 5px;
  }
}

#section_2 .section_2_container .menu-btn {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  height: 70px;
  width: 54px;
  cursor: pointer;
  background: url("../images/section_2/menu-icon.png") no-repeat center;
  background-size: 44px;
}

#section_2 .section_2_container .menu-btn:active {
  opacity: 0.2;
}

#section_2 .section_2_container h2 {
  text-align: center;
  margin: 0;
  line-height: 70px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  position: absolute;
  top: 100px;
}

#section_2 .section_2_container section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#section_2 .section_2_container section.one {
  background: #d34caf;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#section_2 .section_2_container section.two {
  background: #FF78BC;
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

#section_2 .section_2_container section.three {
  background: #FF1A8D;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#section_2 .section_2_container section.four {
  background: #f75b5b;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

#section_2 .section_2_container section.after {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

#section_2 .section_2_container .section_all {
  -webkit-box-shadow: -2px 0 3px #666;
          box-shadow: -2px 0 3px #666;
}

#section_2 .section_2_container .section_all h2 {
  color: #fff;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 15px;
}

#section_2 .section_2_container .page-one section.one {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#section_2 .section_2_container .page-one section.two {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

#section_2 .section_2_container .page-one section.three {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#section_2 .section_2_container .page-one section.four {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

#section_2 .section_2_container .page-two section.one {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#section_2 .section_2_container .page-two section.two {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

#section_2 .section_2_container .page-two section.three {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#section_2 .section_2_container .page-two section.four {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

#section_2 .section_2_container .menu-open section {
  cursor: pointer;
}

#section_2 .section_2_container .menu-open section.one {
  -webkit-transform: translateX(70px);
          transform: translateX(70px);
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

#section_2 .section_2_container .menu-open section.one:active {
  background: #ffcce4;
}

#section_2 .section_2_container .menu-open section.two {
  -webkit-transform: translateX(140px);
          transform: translateX(140px);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#section_2 .section_2_container .menu-open section.two:active {
  background: #ff87c4;
}

#section_2 .section_2_container .menu-open section.three {
  -webkit-transform: translateX(210px);
          transform: translateX(210px);
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

#section_2 .section_2_container .menu-open section.three:active {
  background: #ff2995;
}

#section_2 .section_2_container .menu-open section.four {
  -webkit-transform: translateX(280px);
          transform: translateX(280px);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#section_2 .section_2_container .menu-open section.four:active {
  background: #f86a6a;
}

#section_2 .section_2_container .menu-open.page-one section.one {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#section_2 .section_2_container .menu-open.page-one section.two {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

#section_2 .section_2_container .menu-open.page-one section.three {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#section_2 .section_2_container .menu-open.page-one section.four {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

#section_2 .section_2_container .menu-open.page-two section.one {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#section_2 .section_2_container .menu-open.page-two section.two {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

#section_2 .section_2_container .menu-open.page-two section.three {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#section_2 .section_2_container .menu-open.page-two section.four {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

#section_3 .section_3_container {
  width: 1440px;
  margin: 0 auto;
  height: 100vh;
  padding-top: 15px;
  padding-bottom: 15px;
  background: url("../images/section_3/section_3.jpg") 50% center/cover no-repeat fixed;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media (max-width: 1440px) {
  #section_3 .section_3_container {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  #section_3 .section_3_container {
    width: 100%;
  }
}

@media (max-width: 992px) {
  #section_3 .section_3_container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #section_3 .section_3_container {
    width: 100%;
  }
}

@media (max-width: 572px) {
  #section_3 .section_3_container {
    width: 100%;
  }
}

@media (max-width: 960px) {
  #section_3 .section_3_container {
    background-attachment: scroll;
    height: 60vh;
  }
}

#section_3 .section_3_container .spin {
  width: 120px;
  height: 120px;
  position: relative;
}

#section_3 .section_3_container .spin.active {
  -webkit-animation: aaa 4s forwards;
          animation: aaa 4s forwards;
}

@-webkit-keyframes aaa {
  from {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    width: 120px;
    height: 120px;
  }
  to {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
    width: 100%;
    height: 100%;
  }
}

@keyframes aaa {
  from {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    width: 120px;
    height: 120px;
  }
  to {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
    width: 100%;
    height: 100%;
  }
}

#section_3 .section_3_container .spin .spin_img {
  position: absolute;
  width: 50%;
  height: 100%;
}

#section_3 .section_3_container .spin .spin_img img,
#section_3 .section_3_container .spin .spin_img iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

#section_3 .section_3_container .spin .spin_img:nth-child(1) {
  -webkit-clip-path: polygon(0 0, 94.5% 0, 53.5% 100%, 0% 100%);
          clip-path: polygon(0 0, 94.5% 0, 53.5% 100%, 0% 100%);
  top: 0;
  left: 0;
}

#section_3 .section_3_container .spin .spin_img:nth-child(1).active {
  -webkit-animation: bbb 5s forwards;
          animation: bbb 5s forwards;
}

@-webkit-keyframes bbb {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-clip-path: polygon(0 0, 95% 0, 50% 100%, 0% 100%);
            clip-path: polygon(0 0, 95% 0, 50% 100%, 0% 100%);
    left: 12.5%;
  }
  75% {
    left: 12.5%;
  }
  100% {
    left: 0;
  }
}

@keyframes bbb {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-clip-path: polygon(0 0, 95% 0, 50% 100%, 0% 100%);
            clip-path: polygon(0 0, 95% 0, 50% 100%, 0% 100%);
    left: 12.5%;
  }
  75% {
    left: 12.5%;
  }
  100% {
    left: 0;
  }
}

#section_3 .section_3_container .spin .spin_img:nth-child(2) {
  -webkit-clip-path: polygon(44.5% 0, 100% 0, 100% 100%, 3.5% 100%);
          clip-path: polygon(44.5% 0, 100% 0, 100% 100%, 3.5% 100%);
  bottom: 0;
  right: 0;
}

#section_3 .section_3_container .spin .spin_img:nth-child(2).active {
  -webkit-animation: ccc 5s forwards;
          animation: ccc 5s forwards;
}

@-webkit-keyframes ccc {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
    right: 12.5%;
  }
  75% {
    right: 12.5%;
  }
  100% {
    right: 0;
  }
}

@keyframes ccc {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
    right: 12.5%;
  }
  75% {
    right: 12.5%;
  }
  100% {
    right: 0;
  }
}

#section_4 .section_4_container {
  width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  #section_4 .section_4_container {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  #section_4 .section_4_container {
    width: 100%;
  }
}

@media (max-width: 992px) {
  #section_4 .section_4_container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #section_4 .section_4_container {
    width: 100%;
  }
}

@media (max-width: 572px) {
  #section_4 .section_4_container {
    width: 100%;
  }
}

footer .footer_container {
  width: 1440px;
  margin: 0 auto;
  background-color: #FFBDDC;
  -webkit-box-shadow: 0px -4px 2px #333;
          box-shadow: 0px -4px 2px #333;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1440px) {
  footer .footer_container {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  footer .footer_container {
    width: 100%;
  }
}

@media (max-width: 992px) {
  footer .footer_container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  footer .footer_container {
    width: 100%;
  }
}

@media (max-width: 572px) {
  footer .footer_container {
    width: 100%;
  }
}

@media (max-width: 650px) {
  footer .footer_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer .footer_container .footer_logo {
  height: 100%;
}

@media (max-width: 650px) {
  footer .footer_container .footer_logo {
    width: 50%;
    text-align: center;
  }
}

@media (max-width: 460px) {
  footer .footer_container .footer_logo {
    width: 100%;
  }
}

footer .footer_container .footer_logo img {
  height: 100%;
}

footer .footer_container .footer_main {
  color: #000;
  font-size: 24px;
}

footer .footer_container .footer_main a {
  text-decoration: none;
  color: #000;
}

@media (max-width: 650px) {
  footer .footer_container .footer_main {
    width: 50%;
    text-align: center;
  }
}

@media (max-width: 460px) {
  footer .footer_container .footer_main {
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */